<form>
  <div class="field is-horizontal">
    <div class="field-body">
      <!-- Amount -->
      <div class="field is-narrow">
        <p class="control">
          <input
            type="number"
            style="width: 100px;"
            class="input"
            placeholder="Amount"
          />
        </p>
      </div>
      <!-- Description -->
      <div class="field">
        <p class="control">
          <input type="text" class="input" placeholder="Description" />
        </p>
      </div>

      <!-- Add Item Button -->
      <div class="field is-narrow">
        <button class="button is-primary">Add</button>
      </div>
    </div>
  </div>
</form>
