<!-- Title Top Bar -->
<div class="top-bar">
  <h1>Budget Calculator</h1>
</div>

<!-- Main Display -->
<section class="total-budget-section">
  <h2 class="green">1500</h2>
</section>

<!-- Input Fields | Add Items-->
<section class="add-item-section">
  <div class="add-item-container">
    <app-add-item-form style="padding: 20px;" (formSubmit)="addItem($event)"></app-add-item-form>
  </div>
</section>

<hr style="margin-top: 0;" />

<!-- Budget item list -->
<app-budget-item-list [budgetItems]="budgetItems" (delete)="deleteItem($event)"></app-budget-item-list>